.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;

  border-radius: 10px;
  color: white;
  background-color: #7695ec;
}

@media screen and (max-width: 450px) {
  .button {
    font-size: 1.1em;
  }
}
