.card {
  display: grid;
  grid-template: max-content 1fr 40px / 1fr 150px;

  background-color: white;

  width: 100%;
  height: max-content;

  border: 1px solid #aaaaaa;
  border-radius: 16px;

  padding: 22px;
}

.title {
  color: black;
  font-size: 1.7em;
  margin-bottom: 15px;
}

.inputContent {
  grid-area: 2 / 1 / span 1 / -1;
}
