.inputMessage {
  color: black;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.inputUser {
  resize: none;
  width: 100%;
  margin-bottom: 25px;
  height: 30px;

  border-radius: 10px;
  border: 1px solid #aaaaaa;

  padding: 3px 0 3px 15px;
}

@media screen and (max-width: 450px) {
  .inputMessage {
    font-weight: 400;
  }

  .inputUser {
    font-weight: 300;
  }
}

@media screen and (max-width: 385px) {
  .inputMessage {
    font-weight: 400;
  }

  .inputUser {
    font-weight: 300;
    margin-bottom: 8px;
  }
}
