.global-body {
  background: radial-gradient(
      at 50% 50%,
      hsl(197, 100%, 50%, 0.1) 10%,
      transparent 60%
    ),
    radial-gradient(at 20% 80%, hsla(262, 100%, 50%, 0.1) 10%, transparent 60%),
    radial-gradient(at 80% 10%, hsla(215, 100%, 50%, 0.12) 10%, transparent 60%),
    radial-gradient(at 22% 20%, hsla(180, 100%, 50%, 0.11) 10%, transparent 60%),
    radial-gradient(at 80% 85%, hsl(137, 100%, 50%, 0.1) 10%, transparent 60%);
  min-height: 100vh;
  min-height: 100dvh;
}

.container {
  display: grid;
  grid-template: 1fr 15vh / 10vw 1fr 10vw;
  grid-template: 1fr 15dvh / 10vw 1fr 10vw;
  place-items: center;
}

@media screen and (max-width: 895px) {
  .container {
    grid-template: 1fr 15vh / 1vw 1fr 1vw;
    grid-template: 1fr 15dvh / 1vw 1fr 1vw;
  }
}

@media screen and (max-width: 610px) {
  .container {
    grid-template: 1fr 40vh / 1fr;
    grid-template: 1fr 40dvh / 1fr;
  }
}

.grid-content {
  grid-area: 2 / 2 / -2 / -2;
}
