.body {
  color: white;
  background-color: hsla(210, 59%, 60%, 0.1);
  min-height: 100vh;
  min-height: 100dvh;
  font-weight: 500;
}

.section {
  grid-area: 1 / 2 / -2 / span 1;
  width: 550px;
  margin: 25vh 0;
}

@media screen and (max-width: 610px) {
  .section {
    grid-area: 1 / 1 / -2 / -1;
    width: 90%;
  }
}
